@charset "UTF-8";
.timeline {
  --gap: 16px;
}
.timeline .year {
  display: grid;
  grid-template-columns: 44px auto;
}
.timeline .year__number {
  font-size: 1.25em;
  height: -moz-fit-content;
  height: fit-content;
  translate: 0 -50%;
}
.timeline .year__month-list .month {
  display: grid;
  grid-template-columns: 120px 20px auto;
  position: relative;
}
.timeline .year__month-list .month:first-child .month__name::after {
  height: 4px;
}
.timeline .year__month-list .month .marker {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: var(--clr-event);
  left: 115px;
  z-index: 1000;
}
.timeline .year__month-list .month__name {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: flex-end;
  translate: 25px -20px;
}
.timeline .year__month-list .month__name::after {
  content: "";
  width: 30px;
  background-color: var(--clr-border);
  height: 2px;
  z-index: -1;
  display: inline-block;
}
.timeline .year__month-list .month__line {
  background-color: var(--clr-bg);
  min-height: 40px;
}
.timeline .year__month-list .month__event-list .event {
  translate: 15px -50%;
  display: flex;
  align-items: center;
}
.timeline .year__month-list .month__event-list .event__day {
  margin-right: 8px;
  width: 20px;
  text-align: right;
  color: var(--clr-event);
}
.timeline .year__month-list .month.no-events {
  color: var(--clr-subtext);
}
.timeline .year__month-list .month.no-events .month__line {
  background-color: var(--clr-highlight);
}
.sequence {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  align-items: start;
  justify-items: center;
}
.sequence__input, .sequence button, .sequence__status {
  grid-column: 1/span 2;
}
.sequence__input, .sequence button {
  width: 150px;
  text-align: center;
}
.sequence__input {
  letter-spacing: 4px;
}
.sequence__grid {
  display: flex;
  gap: 0.5em;
}
.sequence__grid__col {
  display: grid;
  gap: 0.5em;
}
.sequence__grid__col:not(:last-child) {
  padding-right: 0.5em;
  border-right: 1px solid var(--clr-border);
}
.sequence span {
  cursor: pointer;
}
.sequence span.logged-out {
  color: rgb(56, 56, 170);
  text-decoration: line-through;
  cursor: default;
}
.sequence span.assumed {
  color: red;
  scale: 1.1;
}
.sequence span.assumed-out {
  color: rgb(104, 0, 0);
  text-decoration: line-through;
}
.sequence strike {
  opacity: 0.5;
}
.sequence__log {
  display: grid;
  gap: 0.5em;
}
.sequence__log__row {
  display: flex;
  gap: 0.5em;
}
.sequence__log__row__number {
  display: flex;
  gap: 0.25em;
}
.sequence__log__row__number::after {
  margin-left: 0.5em;
  content: "->";
  color: var(--clr-subtext);
}

.timetable {
  font-family: var(--font-family-ru);
  --size: 48px;
  margin: auto;
  display: grid;
  gap: 0.5em;
}
.timetable__week-list {
  display: grid;
  gap: 0.5em;
}
.timetable__day-name-list {
  display: grid;
  grid-template-columns: repeat(7, var(--size));
  gap: 0.5em;
  text-align: center;
}
.timetable__day-name-list *:last-of-type {
  color: hsl(0, 40%, 40%);
}
.timetable__week {
  display: grid;
  grid-template-columns: repeat(7, var(--size));
  gap: 0.5em;
}
.timetable__day {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--size);
  position: relative;
}
.timetable__day.has-lessons {
  background-color: var(--clr-highlight);
}
.timetable__day.no-lessons {
  color: var(--clr-subtext);
}
.timetable__day:last-of-type {
  color: hsl(0, 40%, 40%);
}
.timetable__day__lessons {
  position: absolute;
  bottom: 6px;
  display: flex;
  gap: 4px;
}
.timetable__day__lessons .lesson {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: var(--clr-subtext);
}
.timetable__day__lessons .lesson::after {
  position: absolute;
  content: attr(data-subject);
  background-color: var(--clr-bg);
  border: 1px solid var(--clr-border);
  display: none;
  width: -moz-max-content;
  width: max-content;
  translate: 2px -100%;
  padding: 2px 4px;
}
.timetable__day__lessons .lesson:hover::after {
  display: block;
  z-index: 10000;
}

@font-face {
  font-family: sperrypc8x16;
  src: url("/font/sperrypc8x16.eot");
  src: url("/font/sperrypc8x16.eot?#iefix") format("embedded-opentype"), url("/font/sperrypc8x16.woff2") format("woff2"), url("/font/sperrypc8x16.woff") format("woff"), url("/font/sperrypc8x16.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
:root {
  color-scheme: dark;
  --clr-text: hsl(0, 0%, 80%);
  --clr-subtext: hsl(0, 0%, 50%);
  --clr-border: hsl(0, 0%, 24%);
  --clr-bg: hsl(0, 0%, 18%);
  --clr-highlight: hsl(0, 0%, 10%);
  --clr-link: hsl(240, 100%, 80%);
  --clr-link-visited: hsl(270, 70%, 80%);
  --font-family: "MS PGothic", sperrypc8x16, monospace;
  --font-family-heading: IBMVGA8, "MS PGothic", monospace;
  --font-family-ru: monospace;
}

@font-face {
  font-family: "Noto Color Emoji";
  src: url("NotoColorEmoji-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  max-width: 800px;
  width: min(100% - 3em, 800px);
  margin-inline: auto;
  color: var(--clr-text);
  background-color: black;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  text-rendering: optimizeSpeed;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-border);
}

input, textarea {
  background-color: black;
  color: var(--clr-text);
  border: 1px solid var(--clr-border);
  border-radius: 2px;
  font-family: var(--font-family);
  font-size: 1em;
  outline: none;
  padding: 0.5em;
  line-height: 1;
}

select {
  background-color: black;
  font-family: var(--font-family);
  color: var(--clr-text);
  font-size: 1em;
  outline: none;
  border: 1px solid var(--clr-border);
  padding: calc(0.5em - 1px);
  line-height: 1;
}

option:first-child {
  color: var(--clr-subtext);
}

textarea {
  resize: vertical;
}

button, .btn, .btn--emoji {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

button, .btn {
  background-color: black;
  color: var(--clr-text);
  border: 1px solid var(--clr-border);
  font-family: var(--font-family);
  padding: 0.5em 0.75em;
  font-size: 1em;
  line-height: 1;
}
button:active, .btn:active {
  transform: 0 4px;
}
button:disabled, .btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

a {
  text-decoration: none;
  color: var(--clr-text);
}

img.progressive {
  transition: filter 0.5s linear;
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
}
img.progressive.loading {
  filter: blur(8px);
}
img.progressive.loaded {
  filter: blur(0px);
}

.editor-btn-list {
  display: flex;
  gap: 0.5em;
}

.btn--editor {
  margin-bottom: 0.5em;
}

a.btn {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--clr-text);
}

.ru-text {
  font-family: var(--font-family-ru);
}

@keyframes logo {
  0% {
    opacity: 0;
    scale: 0.9;
    transform: rotateX(-25deg) rotateY(28deg) rotateZ(5deg);
  }
}
header {
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: min-content auto max-content;
  align-items: center;
  gap: 1em;
}
@media (width < 550px) {
  header {
    grid-template-columns: min-content auto;
  }
}
header .logo-link {
  display: grid;
}
header .logo-link .logo {
  height: 266px;
  width: 184px;
  grid-column: 1;
  grid-row: 1;
  transform-origin: bottom;
  animation: logo 1.25s ease forwards;
}
header .logo-link .logo--normal {
  transition: filter 0.2s ease;
}
header .logo-link .logo--normal:hover {
  filter: opacity(0);
}
@media (width < 500px) {
  header .logo-link .logo {
    height: 133px;
    width: 92px;
  }
}
header nav {
  display: grid;
  gap: 0.5em;
  justify-items: end;
}
@media (width < 550px) {
  header nav {
    display: flex;
    grid-column: 1/span 2;
    justify-content: space-evenly;
  }
}
header nav a {
  color: var(--clr-text);
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  color: var(--clr-subtext);
  opacity: 0;
  animation: arriveRight 0.5s ease forwards;
  animation-delay: calc(var(--index) * 0.1s + 1s);
  transition: color 0.3s ease;
}
header nav a:hover {
  color: var(--clr-text);
}
header nav a.active {
  color: var(--clr-text);
}
header nav a.active::before {
  content: "";
  position: absolute;
  translate: 0 18px;
  width: 100%;
  height: 1px;
  background-color: var(--clr-subtext);
}
header .header-text {
  display: grid;
  gap: 0.5em;
}
header .header-text .title {
  font-size: 4em;
  line-height: 1;
  font-family: var(--font-family-heading);
  animation: arriveRight 0.5s ease forwards;
  color: var(--clr-text);
}
@media (width < 500px) {
  header .header-text .title {
    font-size: 2em;
  }
}
header .header-text .subtitle {
  color: var(--clr-subtext);
  opacity: 0;
  animation: arriveRight 0.5s ease forwards 0.25s;
}
header .header-text .link-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
header .header-text .link-list a img, header .header-text .link-list a svg {
  width: 24px;
  display: block;
  opacity: 0;
  animation: opacity 1s ease forwards;
  animation-delay: calc(var(--index) * 0.1s + 0.5s);
  transition: filter 0.5s ease, scale 0.3s ease;
}
header .header-text .link-list a img:hover, header .header-text .link-list a svg:hover {
  scale: 1.1;
}
header .header-text .link-list a img.invert, header .header-text .link-list a svg.invert {
  filter: invert(1);
}
header .header-text .link-list a img.grayscale, header .header-text .link-list a svg.grayscale {
  filter: grayscale(1);
}
header .header-text .link-list a img.grayscale:hover, header .header-text .link-list a svg.grayscale:hover {
  filter: grayscale(0);
}

main {
  display: grid;
  gap: 2em;
}
main .section-row {
  display: flex;
  gap: 2em;
  align-items: flex-start;
  flex-wrap: wrap;
}
main .section {
  display: grid;
  gap: 0.5em;
  opacity: 0;
  animation: arriveTop 0.5s ease forwards;
  animation-delay: calc(var(--index) * 0.1s);
}
main .section:has(.login-form) {
  width: 200px;
  margin-inline: auto;
}
main .section__header {
  color: var(--clr-subtext);
  font-size: 22px;
}
footer {
  height: 8em;
  display: grid;
  justify-content: center;
  align-items: center;
}
footer a {
  color: white;
  opacity: 0.1;
  text-align: center;
}

.skill-list {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 0 1em;
}

.project-list {
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 0.25em;
}
@media (width < 500px) {
  .project-list {
    grid-template-columns: 1fr;
  }
}
.project-list .project {
  position: relative;
  aspect-ratio: 16/9;
  width: 100%;
  background-size: cover;
  background-color: hsla(0, 0%, 0%, 0.5);
  background-blend-mode: multiply;
  background-position: center;
  background-size: 100%;
  transition: background-size 0.3s ease, background-color 0.3s ease;
}
.project-list .project__article {
  width: inherit;
  height: 100%;
  position: absolute;
}
.project-list .project:hover {
  background-size: 110%;
  background-color: hsla(0, 0%, 0%, 0.2);
}
.project-list .project:hover::before {
  content: "";
  border: 1px solid var(--clr-border);
  animation: opacity 0.3s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 4px;
  translate: -5px -5px;
}
.project-list .project:has(:hover) .project__link {
  opacity: 1;
}
.project-list .project__title {
  position: absolute;
  text-align: center;
  width: inherit;
  bottom: 0;
  padding: 2em 1em 1em;
  background-image: linear-gradient(transparent, var(--clr-highlight));
}
.project-list .project__link {
  position: absolute;
  top: 0;
  padding: 0.25em;
  opacity: 0;
  transition: opacity 0.3s ease;
}

@keyframes arriveTop {
  from {
    opacity: 0;
    translate: 0 40px;
  }
  to {
    opacity: 1;
    translate: 0 0px;
  }
}
@keyframes arriveRight {
  from {
    opacity: 0;
    translate: -40px 0;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.article-search {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
}

.article-list {
  display: grid;
  gap: 1em;
}
.article-list__year-group {
  opacity: 0;
  animation: arriveTop 0.5s ease forwards;
  animation-delay: calc(var(--index) * 0.2s);
}
.article-list__year-group__title {
  text-align: right;
  border-bottom: 1px solid var(--clr-highlight);
}
.article-list.single-line .article-link {
  grid-template-columns: auto 150px;
}
@media (width < 400px) {
  .article-list.single-line .article-link {
    grid-template-columns: auto 50px;
  }
}
.article-list:empty::after {
  content: "No artciles found";
  margin-top: 0.5em;
  color: var(--clr-subtext);
}
.article-list .article-content-search {
  border-left: 1px solid var(--clr-border);
  margin-bottom: 0.5em;
  padding-left: 0.5em;
  margin-left: 0.5em;
}
.article-list .article-content-search > div {
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.article-list .article-content-search > div::after, .article-list .article-content-search > div::before {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 1em;
  background-image: linear-gradient(to right, black, transparent);
  z-index: 1000;
}
.article-list .article-content-search > div::after {
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to left, black, transparent);
}
.article-list .article-link {
  display: grid;
  grid-template-columns: auto 100px;
  padding-block: 0.25em;
  gap: 1em;
  align-items: baseline;
}
@media (width < 400px) {
  .article-list .article-link {
    grid-template-columns: auto 50px;
  }
}
.article-list .article-link.hidden {
  background-color: var(--clr-border);
  opacity: 0.7;
}
.article-list .article-link.hidden:hover {
  background-color: var(--clr-border);
  opacity: 0.9;
}
.article-list .article-link:hover {
  background-color: var(--clr-highlight);
}
.article-list .article-link__date {
  color: var(--clr-subtext);
  text-align: right;
}
.article-list .article-link__date.skeleton-text {
  width: -moz-fit-content;
  width: fit-content;
  justify-self: right;
}
@media (width < 400px) {
  .article-list .article-link__date--long {
    display: none;
  }
}
.article-list .article-link__date--short {
  display: none;
}
@media (width < 400px) {
  .article-list .article-link__date--short {
    display: block;
  }
}
.article-list .article-link__info {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.article-list .article-link__tag-list {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}
.article-list .article-link__tag-list .tag {
  border: 1px solid var(--clr-border);
  padding: 2px 6px;
  transition: background-color 0.3s ease;
}
.article-list .article-link__tag-list .tag:hover {
  background-color: var(--clr-border);
}
.article-list .article-link__title {
  color: var(--clr-text);
}

@keyframes opacity05 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
.article {
  font-family: var(--font-family);
  display: grid;
  gap: 1em;
  line-height: 1.5;
}
.article--ru {
  font-family: var(--font-family-ru);
}
.article--ru .btn--emoji {
  opacity: 1 !important;
}
.article__title {
  font-size: 2em;
  font-weight: bold;
  opacity: 0;
  animation: arriveRight 0.5s ease forwards;
  display: grid;
  grid-template-columns: auto min-content;
  gap: 0.5em;
  align-items: baseline;
}
.article__title .btn--emoji {
  font-size: 2rem;
  opacity: 0.2;
  line-height: 1;
}
.article__date {
  color: var(--clr-subtext);
  opacity: 0;
  animation: arriveRight 0.5s ease 0.2s forwards;
}
.article__table-of-contents {
  display: grid;
  padding: 1em;
  width: 200px;
  gap: 0.5em;
  opacity: 0;
  position: fixed;
  translate: calc(-100% - 2em) 0;
  transition: opacity 0.3s ease;
}
@media (width < 1300px) {
  .article__table-of-contents {
    display: none;
  }
}
.article__table-of-contents:hover {
  opacity: 1;
}
.article__table-of-contents__header {
  color: var(--clr-subtext);
}
.article__table-of-contents__link:hover {
  text-decoration: underline;
}
.article__tag-list {
  display: flex;
  gap: 0.5em;
  z-index: 1;
  opacity: 0;
  animation: arriveRight 0.5s ease 0.3s forwards;
}
.article__tag-list .tag {
  border: 1px solid var(--clr-border);
  padding: 2px 6px;
  position: relative;
  display: flex;
  gap: 3px;
  transition: background-color 0.3s ease;
}
.article__tag-list .tag:hover {
  background-color: var(--clr-highlight);
}
.article__tag-list .tag__description {
  border-radius: 50%;
  border: 1px solid var(--clr-border);
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  line-height: 1.3;
  cursor: pointer;
  margin-right: -4px;
}
.article__tag-list .tag__description:hover::after {
  display: block;
}
.article__tag-list .tag__description::after {
  content: attr(data-description);
  display: none;
  border: 1px solid var(--clr-border);
  position: absolute;
  width: 200px;
  background-color: black;
  text-align: left;
  padding: 0.5em;
  z-index: 1000;
}
.article__tag-list .tag + .btn--emoji {
  color: var(--clr-text);
  translate: 50% 50%;
  margin-left: -1.5em;
}
.article__neighbors {
  opacity: 0.5;
  transition: opacity 0.5s ease;
  display: grid;
  grid-template-columns: max-content auto max-content;
  justify-content: start;
  gap: 0 1em;
}
.article__neighbors:hover {
  opacity: 1;
}
@media (width < 380px) {
  .article__neighbors {
    grid-template-columns: max-content auto;
  }
  .article__neighbors > *:nth-child(3n) {
    display: none;
  }
}
@media (width < 280px) {
  .article__neighbors {
    grid-template-columns: auto;
  }
  .article__neighbors > *:nth-child(2) {
    margin-bottom: 1em;
  }
}
.article__neighbors a {
  color: var(--clr-text);
}
.article__neighbors a:hover {
  text-decoration: underline;
}
.article__neighbors div {
  color: var(--clr-subtext);
}
.article__content {
  margin-top: 1em;
  opacity: 0;
  animation: arriveTop 1s ease 0.4s forwards;
}
.article__content > * {
  margin-bottom: 1em;
}
.article__content ul {
  list-style-type: square;
}
.article__content ul, .article__content ol {
  padding-left: 1.5em;
  display: grid;
  gap: 0.5em;
}
.article__content span.glitch {
  color: rgba(255, 255, 255, 0.3);
  background-size: cover;
  background-color: #7a7a7a;
  background-blend-mode: multiply;
  background-size: 400px;
  padding: 4px;
  background-image: url("/noise.gif");
  cursor: none;
  filter: contrast(2) brightness(1.5);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.article__content table {
  display: block;
  overflow-x: auto;
  max-width: calc(100vw - 3em);
}
.article__content pre {
  display: block;
  overflow-x: auto;
  max-width: calc(100vw - 3em);
}
.article__content blockquote {
  border-left: 4px solid var(--clr-border);
  padding-left: 1em;
  color: var(--clr-subtext);
}
.article__content blockquote p {
  margin-bottom: 1em;
}
.article__content p {
  text-align: justify;
}
.article__content p:has(img + img) {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
@media (width < 600px) {
  .article__content p:has(img + img) {
    display: grid;
  }
  .article__content p:has(img + img) img {
    width: 100%;
    height: initial !important;
  }
}
.article__content p:has(img + img) img {
  height: 200px;
}
.article__content > *:not(pre) code {
  background-color: var(--clr-border);
  padding: 2px 4px;
  border-radius: 4px;
}
.article__content h2, .article__content h3, .article__content h4 {
  margin-top: 2em;
}
.article__content h2:first-child, .article__content h3:first-child, .article__content h4:first-child {
  margin-top: 0;
}
.article__content img {
  max-width: 100%;
  cursor: zoom-in;
}
.article__content pre {
  border: 1px solid var(--clr-border);
  padding: 0.5em;
  width: -moz-max-content;
  width: max-content;
}
.article__content a {
  color: var(--clr-link);
}
.article__content a:visited {
  color: var(--clr-link-visited);
}
.article__content a:active {
  color: hsl(0, 70%, 50%);
}
.article__content a:hover {
  text-decoration: underline;
}
.article__content table {
  border-collapse: collapse;
}
.article__content table th, .article__content table td {
  border: 1px solid var(--clr-border);
  padding: 0.5em;
}

.editor-form {
  display: grid;
  gap: 0.5em;
}
.editor-form label:has(input[type=checkbox]) {
  display: flex;
  gap: 0.5em;
  align-items: flex-end;
}
.editor-form button, .editor-form input[type=date] {
  width: -moz-fit-content;
  width: fit-content;
}
.editor-form .image-editor {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}
.editor-form .image-editor img {
  height: 200px;
}
.editor-form .original-group {
  border: 1px solid red;
  border-image-source: linear-gradient(hsla(0, 0%, 100%, 0.5), hsla(240, 100%, 50%, 0.5), hsla(0, 100%, 50%, 0.5));
  border-image-slice: 1;
  padding: 0.5em;
  display: grid;
  gap: 0.5em;
}
.editor-form .original-group > * {
  font-family: var(--font-family-ru);
}
.editor-form .tag-input {
  display: flex;
  border: 1px solid var(--clr-border);
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 2px;
  padding: 0.5em;
}
.editor-form .tag-input__list {
  display: flex;
  gap: 0.5em;
  margin-right: 0.5em;
}
.editor-form .tag-input__list:not(:empty) {
  margin-right: 1em;
}
.editor-form .tag-input__list .tag {
  border: 1px solid var(--clr-border);
  padding: 0.5em 0.75em;
  display: flex;
  gap: 0.5em;
}
.editor-form .tag-input__list .tag span {
  cursor: pointer;
}
.editor-form .tag-input input {
  border: none;
  padding: 0;
  width: 210px;
}

.login-form {
  display: grid;
  gap: 0.5em;
}

.error-404 {
  font-size: clamp(1em, 8vw, 3em);
  text-align: center;
  rotate: z 5deg;
}

.file-viewer {
  display: grid;
  gap: 0.5em;
}
.file-viewer__image-upload {
  border: 1px solid var(--clr-border);
  padding: 0.5em;
  display: grid;
  grid-template-columns: min-content auto;
  gap: 0.5em;
}
.file-viewer__image-upload__settings {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.file-viewer__image-upload__settings__gallery {
  display: grid;
  gap: 0.5em;
}
.file-viewer__image-upload img {
  height: 200px;
}
.file-viewer__tab-control__tab-list button {
  border-width: 1px 1px 0 1px;
  border-radius: 1em 1em 0 0;
}
.file-viewer__tab-control__tab-list button:last-child {
  float: right;
}
.file-viewer__tab-control__tab-list button.active {
  background-color: var(--clr-border);
}
.file-viewer__tab-control__content {
  border: 1px solid var(--clr-border);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 0.5em;
}
.file-viewer__tab-control__content:empty::after {
  content: "NOT CONTENT";
}
.file-viewer__tab-control__content:has(.file--other) {
  display: grid;
}
.file-viewer__tab-control__content:has(.file--image) {
  display: grid;
}
.file-viewer__tab-control__content .image-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.file-viewer__tab-control__content .image-group--unused {
  padding-bottom: 1em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid var(--clr-border);
}
.file-viewer__tab-control__content .image-group--used .file--image {
  opacity: 0.5;
}
.file-viewer__tab-control__content .image-group--used .file--image:hover {
  opacity: 1;
}
.file-viewer__tab-control__content .image-group--used .file--image img {
  height: 64px;
}
.file-viewer__tab-control__content .file--other {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.file-viewer__tab-control__content .file--image {
  position: relative;
}
.file-viewer__tab-control__content .file--image .btn-file {
  position: absolute;
  top: 0px;
  cursor: pointer;
  opacity: 0.5;
}
.file-viewer__tab-control__content .file--image .btn-file:hover {
  opacity: 1;
}
.file-viewer__tab-control__content .file--image .btn-file--copy {
  left: 0;
}
.file-viewer__tab-control__content .file--image .btn-file--delete {
  right: 0;
  color: rgb(255, 132, 132);
  text-shadow: 1px 1px 2px black;
}
.file-viewer__tab-control__content .file--image img {
  height: 128px;
  display: block;
}

@keyframes imageViewer {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.image-viewer {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 10000;
  cursor: grab;
  animation: imageViewer 0.5s ease;
  border: 4px solid var(--clr-border);
  box-shadow: 0 0 16px 0px black;
  background-color: var(--clr-border);
}
.image-viewer:active {
  cursor: grabbing;
}
.image-viewer__description {
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 1em;
  padding-left: calc(1em - 4px);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  opacity: 0;
  animation: opacity 0.2s ease forwards;
}
.image-viewer__info {
  bottom: 0;
  position: absolute;
  width: calc(100% + 8px);
  padding: 1em;
  display: flex;
  background-color: var(--clr-border);
  translate: -4px 100%;
  justify-content: space-between;
}
.image-viewer .btn-next, .image-viewer .btn-prev {
  position: absolute;
  font-size: 4em;
  text-stroke: 0.3px var(--clr-border);
  font-weight: bold;
  -webkit-text-stroke: 0.3px var(--clr-border);
  text-shadow: 1px 1px 4px black;
  cursor: pointer;
  z-index: 900;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 100%;
  display: flex;
  align-items: center;
  opacity: 0.5;
  transition: scale 0.3s ease, opacity 0.3s ease;
}
.image-viewer .btn-next:hover, .image-viewer .btn-prev:hover {
  scale: 1.1;
  opacity: 1;
}
.image-viewer .btn-next {
  right: 0;
  top: 50%;
  translate: 100% -50%;
  padding-inline: 0.25em 2em;
  transform-origin: left;
}
.image-viewer .btn-prev {
  left: 0;
  top: 50%;
  translate: -100% -50%;
  padding-inline: 2em 0.25em;
  transform-origin: right;
}
.image-viewer .btn--emoji {
  position: absolute;
  background-color: var(--clr-border);
  line-height: 1;
  border-radius: 50%;
  padding: 0.5em;
  z-index: 1000;
  transition: box-shadow 0.2s ease;
}
.image-viewer .btn--emoji:hover {
  box-shadow: inset 0 0 8px 0 var(--clr-highlight);
}
.image-viewer .btn--emoji.btn-close-viewer {
  right: 0;
  top: 0;
  translate: 50% -50%;
}
.image-viewer .btn--emoji.btn-edit {
  right: 0;
  top: 3em;
  translate: 50% -50%;
}
.image-viewer .btn--emoji.btn-show-description {
  right: 0;
  bottom: 0;
  translate: 50% -50%;
  width: 32px;
  text-align: center;
}
.image-viewer img {
  max-height: 80vh;
  max-width: 80vw;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  display: block;
}
@media (width < 500px) {
  .image-viewer img {
    max-height: 90vh;
    max-width: 90vw;
  }
}
@media (width < 600px) {
  .image-viewer {
    left: 0;
    translate: 0 -50%;
  }
  .image-viewer img {
    width: calc(100vw - 14px);
    max-height: 85vh;
    max-width: unset;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .image-viewer .btn-next {
    right: 0;
    top: 50%;
    translate: 0 -50%;
    padding-inline: 0.25em;
    transform-origin: right;
  }
  .image-viewer .btn-prev {
    left: 0;
    top: 50%;
    translate: 0 -50%;
    padding-inline: 0.25em;
    transform-origin: left;
  }
  .image-viewer .btn-next, .image-viewer .btn-prev {
    font-size: 3em;
    opacity: 0.3;
  }
  .image-viewer .btn--emoji {
    font-size: 1.25em;
  }
  .image-viewer .btn--emoji.btn-close-viewer {
    right: 0;
    top: 0;
    translate: 0 calc(-100% - 8px);
  }
  .image-viewer .btn--emoji.btn-show-description {
    left: 0;
    top: 0;
    right: unset;
    bottom: unset;
    width: 40px;
    translate: 0 calc(-100% - 8px);
  }
}

@keyframes loading {
  0% {
    content: "";
  }
  33% {
    content: "•";
  }
  66% {
    content: "••";
  }
  100% {
    content: "•••";
  }
}
.skeleton-text {
  background: linear-gradient(90deg, var(--clr-highlight) 25%, var(--clr-border) 50%, var(--clr-highlight) 75%);
  background-size: 200% 100%;
  animation: loadingAnimation 2s infinite;
  border-radius: 4px;
  color: transparent !important;
}

@keyframes loadingAnimation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
.loading {
  opacity: 0;
  animation: arriveTop 0.5s ease forwards 0.5s;
  text-align: center;
}
.loading::after {
  content: "";
  position: absolute;
  translate: 4px 5px;
  letter-spacing: 4px;
  animation: loading 1s linear infinite;
}

.welcome {
  display: grid;
  gap: 0.5em;
}

.gallery {
  display: grid;
  gap: 2em;
}
.gallery__year {
  display: grid;
  gap: 0.5em;
  opacity: 0;
  animation: arriveTop 0.5s ease forwards;
  animation-delay: calc(var(--index) * 0.2s);
}
@media (width < 600px) {
  .gallery__year {
    gap: 1em;
  }
}
.gallery__year__title {
  border-bottom: 1px solid var(--clr-highlight);
  font-size: 1.25em;
}
.gallery__month {
  display: grid;
  gap: 0.5em;
}
.gallery__month__title {
  color: var(--clr-subtext);
}
.gallery__month__image-list {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}
@media (width < 600px) {
  .gallery__month__image-list {
    display: grid;
  }
}
.gallery img {
  height: 128px;
  display: block;
  cursor: pointer;
}
@media (width < 600px) {
  .gallery img {
    width: 100%;
    height: initial;
  }
}
.gallery__image-block {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  position: relative;
}
@media (width < 600px) {
  .gallery__image-block {
    display: grid;
  }
}
.gallery__image-block::after {
  content: "";
  border: 1px solid var(--clr-highlight);
  width: 100%;
  height: 100%;
  padding: 4px;
  translate: -5px -5px;
  position: absolute;
  z-index: -1;
}

.author-list {
  display: grid;
  gap: 1.5em;
}
.author-list .author {
  display: grid;
  gap: 0.5em;
}
.author-list .author__name {
  font-size: 1.25em;
  text-transform: capitalize;
}
.author-list .author__song-list {
  border-left: 2px solid var(--clr-border);
  padding-left: 1em;
  margin-left: 0.5em;
  display: none;
}

.music {
  display: grid;
  gap: 0.5em;
}
.music .audio {
  display: grid;
  grid-template-columns: min-content auto max-content;
  gap: 0 0.5em;
}
.music .audio.claimed {
  opacity: 0.5;
}
.music .audio__duration {
  grid-row: 1/span 2;
  grid-column: 3;
  font-family: var(--font-family);
}
.music .audio__title {
  grid-column: 2;
}
.music .audio__subtitle {
  color: var(--clr-subtext);
}
.music .audio__author {
  grid-column: 2;
  grid-row: 2;
}
.music .audio__cover {
  aspect-ratio: 1/1;
  width: 32px;
  grid-row: 1/span 2;
}
.music .audio__cover--empty {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-highlight);
  color: var(--clr-subtext);
}/*# sourceMappingURL=index.css.map */